@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
/*perloader*/
.preloader{
    z-index: 1001;
  --bg-color: #000000;
  --size: 200px;
  --first-color: #00eeff;
  --second-color: #19c8d4;
  --thrid-color: #2ba2aa;
  --fourh-color: #2d9097;
  --fifth-color: #04eeff;
  --thickness: 2px;
  --duration: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--duration);
  }
  .preloader__content{
    position: relative;
    width: var(--size);
    height: var(--size);
  }
  .preloader__first,
  .preloader__second,
  .preloader__thrid,
  .preloader__fourh,
  .preloader__fifth{
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 90%;
    animation: var(--duration) linear infinite ease;
  }
  .preloader__first{
    border-top: var(--thickness) solid var(--first-color);
    animation-name: first;}
 .preloader__second{
    border-bottom: var(--thickness) solid var(--second-color);
    animation-name: second;}
 .preloader__thrid{
    border-left: var(--thickness) solid var(--thrid-color);
    animation-name: thrid;}
 .preloader__fourh{
    border-left: var(--thickness) solid var(--fourh-color);
    animation-name: fourh;}
 .preloader__fifth{
    border-top: var(--thickness) solid var(--fifth-color);
    animation-name: fifth;}
 
 @keyframes first{
    from{transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);}
    to{transform: rotateX(360deg) rotateY(-180deg) rotateZ(360deg);}
 }
 @keyframes second{
    from{transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);}
 }
 @keyframes thrid{
    from{transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
    to{transform: rotateX(90deg) rotateY(360deg) rotateZ(360deg);}
 }
 @keyframes fourh{
    from{transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);}
    to{transform: rotateX(360deg) rotateY(90deg) rotateZ(360deg);}
 }
 @keyframes fifth{
    from{transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
    to{transform: rotateX(180deg) rotateY(360deg) rotateZ(360deg);}
 }


*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Rubik One', sans-serif;;
 }
 body{
    min-height: 1000px;
 }
 html{
     scroll-behavior: smooth;
 }

 /*header*/
 header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
    
    
    
 }
.sticky
 {  
    padding: 5px 100px;
    background: #ffffff;
    border-bottom: 3px solid rgba(0,0,0,.1);
 }
 
 header .logo{
    position: relative;
    font-weight: 900;
    
    background-clip: text;
    background: linear-gradient(50deg, #9850db,#020c99,#19c5f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-background-clip: text;
    -o-tex-fill-color: transparent;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: 0.6s;
    
 }
 header ul{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header ul li{
    position: relative;
    list-style: none;
 }
 header ul li a{
    color: #ffffff;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.6s;
 }
.sticky ul li a
 {
     color: #000000;
 }
 /*bunner*/
.bunner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg.png)fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bunner h2{
    text-transform: uppercase;
    color: #00eeff;
    font-weight:600;
    font-size:  50px;   
}
.bunner h4{
    text-transform: uppercase;
    color: #00eeff;
    font-weight:700;
    font-size:  70px;
    writing-mode: vertical-lr;
    text-orientation: upright; 
}
.bunner span{
    color: #ffffff;
}
/*about*/
.sec{
    
    padding: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}
.icon img{
    
    display:inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px 0px;
}

.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}
h3{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
p{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.btn{
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    background: #000;
    transition: 0.5s;
}
.btn:hover{
   color: #000;
   background: #00eeff;
}

/*Services*/
.services{
   position: relative;
   display:flex;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 40px;
}
.services .box{
   width: 300px;
   height: 450px;
   margin: 100px auto;
   padding: 20px;
   box-shadow: 0 10px 20px #000;
}
.services .box .iconBx{
   margin-top: 25px; 
}
.services .box .iconBx img{
   
   max-width: 150px;
   margin-bottom: 15px;
}
.services h3{
   color: #00eeff;
   font-size: 20px;
}
.services p{
   color: rgb(0, 0, 0);
   font-weight: 700;
   font-size: 14px;
   text-align: justify;
}
/*projects-carusel*/


/*costing*/
.item{
   max-width: 800px;
   width: 100%;
   background: #000;
   color:#fff;
   font-size: 16px;
   text-align: start;
   margin: 20px auto;
   border: 0px solid #000;
   padding: 10px 10px;
   height: 40px;
   font-size: 18px;
   text-transform: capitalize;
}
.costing__content__elements{
   
   width: 100%;
   align-items: center;
   color: #000; 
   
}
.costing__content__elements h4{
   text-align: start;
   font-size: 25px;
   font-weight: 400;
   text-transform: capitalize;
}

/*Statistics*/
.content__statistics{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
.content__statistics p{
   text-align: center;
   font-size: 30px;
}
/*team*/
.team{ 
   color: #fff;
   background: #000;
   
}
.team__content{
   position: relative;
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 40px;
}
.team__content .team__content__elem{
position: relative;
background: #00eeff;
min-height: 340px;
width: 300px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;

}
.team__content .team__content__elem .team__content__imgBx{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
}
.team__content .team__content__elem .team__content__imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.team__content .team__content__elem .team__content__details{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(3, 247, 243, 0.8);
   transition: 0.3s;
   opacity: 0;
}
.team__content .team__content__elem:hover .team__content__details{
   opacity: 1;
}
.team__content .team__content__elem .team__content__details h2{
   color: #000;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 1px;
   font-weight: 700;
}
.team__content .team__content__elem .team__content__details h2 span{
   display: block;
   font-size: 16px;
   font-weight: 400;
}
/*Comments*/
.content__comments{
   position: relative;
   text-align: center;
   width: 100%;
}
.comments__info__box h4{
   color:#00eeff;
   font-weight: 400;
   font-size: 20px;
}
.comments__info__box p{
   font-weight: 200;
   font-size: 16px;
}
.comments__info{
   display: flex;
   max-width: 1200px;
   width: 100%;
   margin: 100px auto;
   
}
.comments__info__box__icon img{
    display:inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px 0px;
    background: cover;
}

/*contacts*/
.bg_contact{
   position: relative;
   width: 100%;
   min-height: 100vh;
   background-size: cover;
   background: url(../img/bg3.png) repeat;
   color: #fff;
}
.contactForm{
   position: relative;
   max-width: 800px;
   margin: 0 auto;
   display: flex;
}
.contactForm form{
   width: 100%;
}
.contactForm .row100{
   width: 100%;
   display: flex;
}
.contactForm .row100 .inputBx50{
   width: 50%;
   margin: 0 20px;
}
.contactForm .row100 .inputBx100{
   width: 100%;
   margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
   position: relative;
   border: none;
   border-bottom: 1px solid #fff;
   color: #fff;
   background: transparent;
   width: 100%;
   padding-top: 10px 0;
   font-size: 18px;
   font-weight: 300;
   margin: 20px 0;
   outline: none;
   resize: none;
}
.contactForm .row100 textarea{
   height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
   color: rgba(255, 255, 255, 0.802);
}
.contactForm .row100 input[type="Submit"]{
   background: #ffffff;
   color: #000;
   max-width: 100px;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
   font-weight: 600;
   padding: 8px;
}
.contactForm .row100 input[type="Submit"]:hover{
   border-bottom: 1px solid #00eeff;
   background: #00eeff;
}
.sci{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
}
.sci ul{
   display: flex;
}
.sci ul li{
   list-style: none;
}
.sci ul li a{
   text-decoration: none;
   display: inline-block;
   margin: 0 30px;
}
.sci ul li a img{
   filter: invert(1);
   max-width: 40px;
}
.sci ul li a:hover img{
   opacity: 0.5;
}
.copyright a  {
   color:#00eeff;
}
.toggle{
   display: none;
}

@media(max-width:1300px){
   .toggle{
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
   }
   .toggle:before{
      content: '';
      position: absolute;
      top: 3px;
      width: 100%;
      height: 2px;
      background: #000;
      z-index: 1;
      box-shadow: 0 11px 0 #000;
      transition: 0.5s;
   }
   .toggle:after{
      content: '';
      position: absolute;
      bottom: 3px;
      width: 100%;
      height: 2px;
      background: #000;
      transition: 0.5s;
   }

header,
header.sticky{
   padding: 5px 50px;
   background: #fff;
}
header ul{
   
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   height: 100vh;
   text-align: center;
   overflow: auto;
   background: #fff;
   visibility: hidden;
   opacity: 0;
   }
   header.active ul{
      padding-top: 20px;
      visibility: visible;
      opacity: 1;
      display: block;

   }
   header.active ul li a{
      display: inline-block;
      margin: 10px 0;
      font-size: 20px;
   }
   header ul li a{
      color: #000;
      font-weight: 400;
      font-size: 20px;
   }
}
@media(max-width:800px){

h3{
   font-size: 30px;
}
p{
   font-size: 16px;
   font-weight: 300;
}
.comments__info{
   flex-wrap: wrap;
}
.comments__info__box__icon img{
   width: 100px;
   height: 100px;
}
.btn{
   margin-top: 10px;
}
.bunner{
   background-position: center;
}
.bunner h2{
   font-size: 40px;
   padding: 0 0 20px 0px;
}
.bunner h4{
   font-size: 60px;
   padding: 0 0 0 50px;
}
.sec{
   padding: 100px 50px 50px 50px;
}
.team__content .team__content__elem .team__content__details h2{
   writing-mode: vertical-lr;
   text-orientation: upright;
   font-size: 18px;
   font-weight: 700;
}
.team__content .team__content__elem .team__content__details h2 span{
   writing-mode: vertical-lr;
   text-orientation: upright;
   font-weight: 200;
}
.row100{
   flex-direction: column;
}
.contactForm .row100 .inputBx50,
.contactForm .row100 .inputBx100{
   width: 100%;
   margin: 0;
}
}
@media(max-width:500px){
   .bunner h2{
      font-size: 40px;
      padding: 30px 0 0px 0px;
   }
   .sci{
      margin: 40px;
   }
   .sci ul li a img{
      width: 20px;
      
   }
}







