body{
    font-family: Arial, Helvetica, sans-serif   ;
}

nav{
    width: 100%;
    height: 60px;
    background: #41445a;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
}
.menu{
    float: left;
    padding-left: 540px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    margin-right: 30px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/tyn.png) 90% 100%/auto 85% no-repeat , url(../img/fon.jpg) center/cover no-repeat;
    box-shadow: 2px -20px 50px #000 inset;
    background-attachment: fixed;
}
.title__container{
    float: left;
    margin: 405px 0px 0px 410px;
    color: #344077;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;

}
.title__container h4{
    margin-top: 40px;
    font-size: 25px;
    color: #6d7682;
}
.title__container input{
    font-size: 20px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 50px 14px 0px 14px;
    height: 40px;
    box-shadow: 2px 2px 5px #000;
    
}

/*все заголовки */
h2{
    padding-top: 100px ;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h6{
    display:block;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d0b09 ;
    
}

/*block about company */
/*ава*/
.case1 h5{
    background: url(../img/kek.png) center/auto 100% no-repeat;
    display:inline-block;
    border: 3px solid #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 60px 856px 10px 856px;
}

.case1 p{
    
    font-size: 16px;
    margin: 0px 600px 40px 600px;
}
.case1 input{
    font-size: 16px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 0px 825px 100px 825px;
    height: 40px;
    box-shadow: 2px 2px 5px #000;
}
.case2{
    
    width: 100%;
    height: 550px;
    background:
                url(../img/ноут.png) 310px 270px/auto 10% no-repeat ,
                url(../img/знак.png) 735px 270px/auto 10% no-repeat , 
                url(../img/ракета.png) 1160px 270px/auto 10% no-repeat , 
                url(../img/граммофон.png) 1580px 270px/auto 10% no-repeat , 
                url(../img/foncase2.jpg) center/auto 100% no-repeat;
    
}
.case2li li{
    
    padding: 220px 0px 0px 0px;
    width: 140px;
    float: left;
    font-size: 16px; 
    text-align: center;
    margin-left: 280px;
    
}
.case2 h7{
    padding: 10px 0px;
    font-size: 20px;
    color: #4d0b09;
}
.case3bg{
    
    height: 600px;
    margin: 40px auto;
    
    background-image:  url(../img/фотка.png);
}
/*bloc projects*/
.case3t p{
    margin: 20px 0px;
    text-align: center;
    font-size: 16px;
    color: #6d7682;
    
}
.case3menu{
    height: 100px;
    float: left;
    width: 100px; 
    margin: 0px 0px 0px 388px;
    padding: 0px 0px 0px 0px;   
}
.case3menu h3{
    margin: 0px 0px 5px 0px;
    font-size: 25px;

}
.case3menu input{
    font-size: 16px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 100px 0px;
    height: 40px;
    box-shadow: 2px 2px 5px #000;
}
.case3-1 h4{  
    font-size: 25px;
}
.case3-1 p{
    font-size: 16px;
    text-align: left;
    margin: 0px 300px 0px 0px;
    padding: 0px 388px 0px 0px;
}
.case4{
    margin: 60px 494px 0px 494px;  
}
.case4 h3{
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;

}
.case4 select{
    font-size: 16px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 8px;
    padding: 10px 800px 10px 0px;
    margin: 20px 0px 10px 0px;
    height: 40px;
    
}  
.case4 h4{
    height: 10px;
    float: left;
    width: 100px; 
    box-shadow: 2px 2px 5px #000; 
} 
.case4 td{
    height: 20px;
    padding: 0px 840px 10px 0px;
    text-align: justify;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.footr{
    margin: 100px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 550px;
    background:
                url(../img/ноут.png) 310px 270px/auto 10% no-repeat ,
                url(../img/знак.png) 735px 270px/auto 10% no-repeat , 
                url(../img/ракета.png) 1160px 270px/auto 10% no-repeat , 
                url(../img/граммофон.png) 1580px 270px/auto 10% no-repeat ,
                url(../img/фон.png) center/auto 100% no-repeat; 
}
.footr__container li{
    padding: 400px 0px 0px 0px;
    width: 140px;
    float: left;
    font-size: 16px; 
    text-align: center;
    margin-left: 280px;  
}
.footr__container h4{
    font-size: 25px;
    font-weight: bold;

}
.case5{
    background: url(../img/kek.png) center/auto 100% no-repeat;
    display:inline-block;
    border: 3px solid #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 60px 856px 10px 856px;
}
.case5__container{
    margin: 0px 494px 0px 494px;  
    padding: 20px 0px;
    font-size: 16px;
    text-align: center;
}
.case5__container p{
    margin: 20px 0px 40px 0px;
}
.case6{
    margin: 40px 0px 0px 0px;
    height: 800px;
    width: 100%;
    background: url(../img/гео.png) 680px 250px/auto 5% no-repeat ,
                url(../img/конверт.png) 900px 250px/auto 5% no-repeat,
                url(../img/труба.png) 1140px 250px/auto 5% no-repeat,
                url(../img/Фон2.png) 100% no-repeat; 
}
.case6 h2{
    color: #fff;
}
.case6__container{
    padding: 30px;
    text-align: center;
    color: #fff;
    margin: 0px 500px 0px 500px;
}

.case6__container li{
    
    padding: 100px 0px 0px 0px;
    float: left;
    font-size: 16px; 
    text-align: center;
    margin-left: 76px;
    

}
.case7{
    color: #fff;
    padding: 20px 0px;
   
    
}
.case7__container{
    text-align: center;  
    font-size: 20px;
}
.case7__container p{
    margin: 20px 0px;
    
}
.case7__container input{
    text-align: center;
    font-size: 16px;
    margin: 0px 0px;
    height: 40px;
    padding: 20px 80px;
    border-radius: 10px;
}
.case7__container textarea{
    height: 100px;
    margin: 10px;
    width: 720px;
    border-radius: 10px;
}















    


